{% extends 'base_root.html' %}

{% block content %}
    <form action="{{ url_for('home_page')}}"  method="post">
        <input type="text" value="5qweq" name="tag"><br>
    </form>

    <button type="button" onclick="window.location.href='{{ url_for( 'home_page') }}';"class="btn btn-primary" >Reset</button>


    <h1>{% block title %} Comments {% endblock %}</h1>

        {% for comment in comments %}
        <p style="font-size: 40px">{{ comment }}</p>
        <div style="padding: 10px; background-color: #EEE; ">
            {% for item in comments[comment] %}
                <li style="font-size: 24px">{{ item }}</li>

            {% endfor %}

        </div>

        {% endfor %}

        <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          text-align: left;
          padding: 8px;
          height: 50px;
          font-size: 20px;
          font-weight: bold;



        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
          background-color: #04AA6D;
          color: white;
        }
        </style>
    <table className="table-hover">

              <thead>
                <tr>
                  <th className="border-0">ID</th>
                  <th className="border-0">Name</th>
                  <th className="border-0">Country</th>
                  <th className="border-0">City</th>
                </tr>
              </thead>
              <tbody>
                  {% for new_val in newvals %}
                  <tr>
                  <td>{{ new_val.id }}</td>
                  <td>{{ new_val.name }}</td>
                  <td>{{ new_val.country }}</td>
                  <td>{{ new_val.city }}</td>
                  </tr>
                  {% endfor %}

              </tbody>
            </table>
    
{% endblock %}