{% extends 'base_root.html' %}

{% block content %}
    <form action="{{ url_for('home_page')}}" method="post">
        <input type="text" name="tag"><br>
    </form>

    <button type="button" onclick="window.location.href='{{ url_for( 'home_page') }}';"class="btn btn-primary" >Reset</button>


    <h1>{% block title %} Comments {% endblock %}</h1>
    
        {% for comment in comments %}
        <p style="font-size: 40px">{{ comment }}</p>
        <div style="padding: 10px; background-color: #EEE; ">
            {% for item in comments[comment] %}
                <li style="font-size: 24px">{{ item }}</li>
<!--            <div style="padding: 1px; background-color: #EEA; ">-->
<!--                 <p style="font-size: 10px"> </p>-->
<!--            </div>-->

            {% endfor %}

        </div>


        {% endfor %}
    
{% endblock %}