{% extends 'base_root.html' %}

{% block content %}

    <p> new streaming process new try</p>

    <form action="/stream" method="post">
        <button name="Click" type="submit" class="btn btn-primary" >click me!</button>
    </form>

    {% for item in rows %}
        <div style="padding: 10px; background-color: #EEE; ">
        <p style="font-size: 40px">{{ item }}</p>
        </div>
        <div style="padding: 10px;">
        </div>



    {% endfor %}

    <style>
    div.pagination {
        margin-right: 30px;
        float: right;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }
    </style>

    <div class="pagination">
        {% if page > 1 %}
            <a href="/stream?page={{ page - 1 }}&per_page={{ per_page }}">Previous</a>
        {% endif %}

        {% if total_count > page * per_page %}
            <a href="/stream?page={{ page + 1 }}&per_page={{ per_page }}">Next</a>
        {% endif %}
    </div>


{% endblock %}