version: "3"
services:

  app:
    container_name: instashop_main
    build: .
    volumes:
      - ./main_task:/app
    ports:
      - "5555:5555"
    depends_on:
      - database

  proxy:
    build: nginx_server
    restart: always
    ports:
      - 80:80
    depends_on:
      - app

  database:
      container_name: mydb_new
      image: mysql:5.7
      volumes:
        - ./sql_data:/var/lib/mysql
      ports:
        - "3306:3306"
      environment:
        MYSQL_ROOT_PASSWORD: testroot
        MYSQL_DATABASE: newdb
        MYSQL_PORT: 3306


#  airflow_server:
#      container_name: airflow
#      build:
#        context: .
#        dockerfile: dags/Dockerfile
#      volumes:
#          - ./dags/:/usr/local/airflow/dags
#         # - ./dags/airflow.cfg:/usr/local/airflow/airflow.cfg
#      ports:
#          - "8081:8080"



volumes:
    app:
    database:
    ## airflow_server:




